/* Задаются параметры шрифта и убираются отступы тела страницы */
body {
    font-size: 1.3em;
    font-family: "Gill Sans", sans-serif;
    padding: 0;
    margin: 0;
}
/* Стиль карточки изображения */
.card {
    background: rgb(180, 180, 180);
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    max-width: 80vw;
}
/* Стиль изображения */
.card > img {
    width: 100%;
    border-radius: 15px;
}
/* Стиль шапки */
header {
    height: 60px;
    background: rgb(170, 210, 220);
    padding: 20px;
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 40px);
    top: 0;
}
/* Размер текста кнопки */
header > button {
    font-size: 1.1em;
}
/* Выравнивание заголовка */
header > h2 {
    margin: auto 0;
}
/* Выравнивание поисковой строки по центру */
header > div {
    margin: auto;
}
/* Размер текста поля ввода */
header > div > input {
    font-size: 1.1em;
}
/* Размер текста кнопки поля */
header > div > button {
    font-size: 1.1em;
}
/* Отступ первой карточки после шапки */
header + .card {
    margin-top: 120px;
}
/* Внешний вид панели навигации */
.pagination {
    width: 80vw;

    display: flex;
    justify-content: space-between;
}