<!-- Подключаем используемые функции -->
{% load static %}
{% load functions %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Подключение файла стилей -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Шапка страницы -->
    <header>
        <h2>Photo Gallery</h2>
        <div>
            <!-- Поля ввода запроса -->
            <input type="text" id="query" placeholder="Type something..."
                value="{{search_query}}">
            <!-- Кнопка поиска -->
            <button id="search-button">Search</button>
        </div>
        <!-- Кнопка перехода на страницу загрузки -->
        <button onclick="location.href='/upload'">Upload photo</button>
    </header>
    <!-- Отображаем изображения с их названием и описанием -->
    {% for img in page_obj %}
        <div class="card">
            <img src="{{img.image.url}}" alt="{{img.name}}">
            <p><b>{{img.name}}</b></p>
            <p>{{img.description}}</p>

        </div>
    {% endfor %}
    <!-- Отображаем панель навигации -->
    <div class="card pagination">
        <div>
            {% if page_obj.has_previous %}
                <a href="?{% replace_parameter 'p' page_obj.previous_page_number %}">Previous</a>
            {% endif %}
        </div>
        <div>
            {% if page_obj.has_next %}
                <a href="?{% replace_parameter 'p' page_obj.next_page_number %}">Next</a>
            {% endif %}
        </div>
    </div>

    <!-- Подключаем к кнопке поиска  -->
    <script>
        document.getElementById('search-button').addEventListener('click',
            function() {
                text = document.getElementById('query').value;
                location.href = '/?query=' + encodeURIComponent(text);
            }
        )
    </script>
</body>
</html>